#type-text {
    font-size: 12px !important;
    font-weight: normal !important;
    color: #999 !important;
}

.main {
    margin: 30px !important;
}
.button {
    margin-bottom: 10px !important;
    float: right !important;
}

.background_publish_div {
    background-color: white !important;
}

.background_publish_body {
    background-color: #eeeded !important;
}

.media-object {
    width: 38px !important;
    height: 38px !important;
}

.media-body {
    padding-top: 10px;
}

.section {
    margin-top: 15px !important;
}

.profile {
    margin-top: 15px !important;
}

.community-menu {
    display: block;
    font-size: 13px !important;
    color: #999 !important;
    margin-bottom: 15px;
}

.comment {
    margin: 10px 0px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}


.btn-comment {
    float: right;
    margin: 10px;
}

.question-sp {
    margin-top: 0px;
}

.question-title {
    margin-top: 25px;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}


