#type-text {
    font-size: 12px !important;
    font-weight: normal !important;
    color: #999 !important;
}

.main {
    margin: 30px !important;
}
.button {
    margin-bottom: 10px !important;
    float: right !important;
}

.background_publish_div {
    background-color: white !important;
}

.background_publish_body {
    background-color: #eeeded !important;
}

.media-object {
    width: 38px !important;
    height: 38px !important;
}

.section {
    margin-top: 15px !important;
}

.profile {
    margin-top: 15px !important;
}

.community-menu {
    font-size: 13px !important;
    color: #999 !important;
}