<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>发布 - Lucky论坛</title>
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body class="background_publish_body">
<!--     header-->
<nav class="navbar navbar-default" th:replace="_fragment :: nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Lucky论坛</span>
            </button>
            <a class="navbar-brand" href="#">Lucky论坛</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">发布</a>
                </li>
                <li th:unless="${session.user != null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=0722d115b46361e6bec5&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--主体内容-->
<div class="container-fluid main background_publish_div">
    <div class="row">
        <!--        左侧-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span class="glyphicon mini glyphicon-plus" aria-hidden="true"></span>发起</h4>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题 （简单扼要）：</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题....">
                </div>
                <div class="form-group">
                    <label for="description">问题补充 （必填，参照右侧提示）：</label>
                    <textarea class="form-control" th:text="${description}" name="description" id="description"
                              cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tags">添加标签：</label>
                    <input type="text" class="form-control" id="tags" name="tags" th:value="${tags}"
                           autocomplete="off"
                           onclick="showSelectTag()"
                           placeholder="输入标签，以“，”隔开">

                    <!--                    标签栏-->
                    <div id="select-tag" class="publish-tag-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat : ${tagList}"
                                th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="'#'+${selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab"
                                   th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${List.categoryName}"
                                 th:each="List,selectCategoryStat : ${tagList}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span class="label label-info " th:each="tag : ${List.tags}">
                                    <span class="glyphicon glyphicon-tag" onclick="selectTag(this)" th:data-tag="${tag}"
                                          th:text="${tag}"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid ">
                    <div class="row">
                        <div class="alert alert-danger col-lg-10 col-md-12 col-sm-12 col-xs-12" th:if="${error != null}"
                             th:text="${error}"></div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 button">
                            <button type="submit" class="btn btn-success ">发布</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <!--        右侧-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <p>·问题标题：请用简洁的语言描述你发布的问题，不超过25字</p>
            <p>·问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关资料</p>
            <p>·选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</p>
        </div>
    </div>
</div>
</body>
</html>