<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lucky.yc.community.mapper.QuestionExtMapper">
    <resultMap id="BaseResultMap" type="lucky.yc.community.model.Question">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tags" jdbcType="VARCHAR" property="tags"/>
    </resultMap>

    <update id="incView" parameterType="map">
        update question
        set view_count = view_count + #{viewCount,jdbcType=INTEGER}
        where id = #{id}
    </update>
    <update id="incCommentCount" parameterType="map">
        update question
        set comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
        where id = #{id}
    </update>
    <select id="selectRelated" parameterType="map" resultMap="BaseResultMap">
        select *
        from question
        where id != #{id} and tags regexp #{tags}
    </select>

    <select id="countBySearch" parameterType="lucky.yc.community.dto.QuestionQueryDTO" resultType="java.lang.Integer">
        select count(*) from question
        <where>
            <if test="search != '' and search != null ">
                and title regexp #{search}
            </if>
        </where>

    </select>

    <select id="selectBySearch" parameterType="lucky.yc.community.dto.QuestionQueryDTO" resultMap="BaseResultMap">
        select * from question
        <where>
            <if test="search != '' and search != null">
                and title regexp #{search}
            </if>
        </where>
        order by gmt_create desc limit #{page},#{size}
    </select>

</mapper>